<div class="about-section">
  <h1>Om oss</h1>
  <p>Gymnasiearbete angående informationsdelning samt visning av attefallshus.</p>
  
</div>

<h2 style="text-align:center">Vårt lag</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/assets/images/Albin.png" alt="Albin" style="width:100%">
      <div class="container">
        <h2>Albin Enström</h2>
        <p class="title">Webbserverutvecklare</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>02alen10@elev.kungalv.se</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/images/Rasmus.png" alt="Rasmus" style="width:100%">
      <div class="container">
        <h2>Rasmus Bojeh</h2>
        <p class="title">Webbserverutvecklare</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>02rabo14@elev.kungalv.se</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/images/Max.png" alt="Max" style="width:100%">
      <div class="container">
        <h2>Max Berlin</h2>
        <p class="title">Grafisk designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>02mabe23@elev.kungalv.se</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
